@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: bold;
  src: url('~assets/fonts/iransans/eot/bold.eot');
  src: url('~assets/fonts/iransans/eot/bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/iransans/woff2/bold.woff2') format('woff2'), url('~assets/fonts/iransans/woff/bold.woff') format('woff'), url('~assets/fonts/iransans/ttf/bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/iransans/eot/medium.eot');
  src: url('~assets/fonts/iransans/eot/medium.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/iransans/woff2/medium.woff2') format('woff2'), url('~assets/fonts/iransans/woff/medium.woff') format('woff'), url('~assets/fonts/iransans/ttf/medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/iransans/eot/light.eot');
  src: url('~assets/fonts/iransans/eot/light.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/iransans/woff2/light.woff2') format('woff2'), url('~assets/fonts/iransans/woff/light.woff') format('woff'), url('~assets/fonts/iransans/ttf/light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 200;
  src: url('~assets/fonts/iransans/eot/ultralight.eot');
  src: url('~assets/fonts/iransans/eot/ultralight.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/iransans/woff2/ultralight.woff2') format('woff2'), url('~assets/fonts/iransans/woff/ultralight.woff') format('woff'), url('~assets/fonts/iransans/ttf/ultralight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/iransans/eot/regular.eot');
  src: url('~assets/fonts/iransans/eot/regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/iransans/woff2/regular.woff2') format('woff2'), url('~assets/fonts/iransans/woff/regular.woff') format('woff'), url('~assets/fonts/iransans/ttf/regular.ttf') format('truetype');
}
